[Desktop Entry]
Version=1.0
Type=Application
Name=Application Finder
Comment=Find and launch applications installed on your system
Exec=xfce4-appfinder --collapsed
Icon=folder-saved-search
Path=
Terminal=false
StartupNotify=true
