[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=False
Exec=android-studio
Name=Android Studio
Icon=/home/ibm-7094/.icons/WhiteSur/apps/scalable/android-studio.svg
















